.row {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  margin: 20px;
  // padding: 10px;
}
.rowHeight {
  height: calc(~'30% - 10px');
}
.card {
  padding: 20px;
  // margin: 1px;
  border: 1px solid #003967;
  background-color: '#111111';
}
.cardHeight {
  height: 100%;
  margin: 5px;
}
// .chart {
//   height: calc(~"30% - 20px");
// }
.tableBgc {
  background-color: #05082b;
  color: #eeeeee;
}
